
html { scroll-behavior: smooth;}
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0,5s;
}

.navbar a:hover {
    background-color: gray;
    color: black;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}